{{#if isNoResults}}
  {{#if hasAppliedFilters}}
    <button class="Hitchhiker-FilterLink js-resetFilters">
      {{_config.resetFiltersText}}
    </button>
  {{else}}
    <button class="Hitchhiker-FilterLink js-clearSearch">
      {{_config.clearSearchText}}
    </button>
  {{/if}}
{{else}}
  {{#if panelIsDisplayed}}
    {{#if hasAppliedFilters}}
      <button class="Hitchhiker-FilterLink js-resetFilters">
        {{_config.resetFiltersText}}
      </button>
    {{/if}}
  {{else}}
    {{#if searchComplete}}
      <button class="Hitchhiker-FilterLink js-changeFilters">
        {{_config.changeFiltersText}}
      </button>
    {{/if}}
  {{/if}}
{{/if}}
