<div class="HitchhikerProfessionalCard {{cardName}}">
  <div class="HitchhikerProfessionalCard-wrapper">
    {{> image}}
    <div class="HitchhikerProfessionalCard-body">
      {{> title}}
      {{> subtitle}}
      <div class="HitchhikerProfessionalCard-contentWrapper">
        <div class="HitchhikerProfessionalCard-info">
          {{> details}}
          {{> list}}
          {{> phone}}
        </div>
        {{> ctas}}
      </div>
    </div>
  </div>
</div>

{{#*inline 'image'}}
{{#if card.image}}
<div class="HitchhikerProfessionalCard-imgWrapper">
  <img src="{{card.image}}"{{#if card.altText}} alt="{{card.altText}}"{{/if}}/>
</div>
{{/if}}
{{/inline}}

{{#*inline 'title'}}
{{#if card.title}}
<div class="HitchhikerProfessionalCard-title">
  {{#if card.url}}
  <a class="HitchhikerProfessionalCard-titleLink" href="{{card.url}}" data-eventtype="TITLE_CLICK"
    data-eventoptions='{{json card.titleEventOptions}}' target={{#if card.target}}"{{card.target}}"{{else}}"_top"
    rel="noopener noreferrer nofollow" {{/if}}>
    {{card.title}}
  </a>
  {{else}}
  {{card.title}}
  {{/if}}
</div>
{{/if}}
{{/inline}}

{{#*inline 'subtitle'}}
{{#if card.subtitle}}
<div class="HitchhikerProfessionalCard-subtitle">
  {{card.subtitle}}
</div>
{{/if}}
{{/inline}}

{{#*inline 'details'}}
{{#if card.details}}
<div class="HitchhikerProfessionalCard-cardDetails">
  <div class="HitchhikerProfessionalCard-detailsText">
    {{card.details}}
  </div>
  {{#if excessDetailsToggle}}
  <button class="HitchhikerCard-details-toggle js-HitchhikerCard-details-toggle">
    {{#if hideExcessDetails}}
    {{card.showMoreDetails.showMoreText}}
    <span data-component="IconComponent"
      data-opts='{ "iconName": "chevron", "classNames": "Icon--sm Icon-collapseDown" }'></span>
    {{else}}
    {{card.showMoreDetails.showLessText}}
    <span data-component="IconComponent"
      data-opts='{ "iconName": "chevron", "classNames": "Icon--sm Icon-collapseUp" }'></span>
    {{/if}}
  </button>
  {{/if}}
</div>
{{/if}}
{{/inline}}

{{#*inline 'list'}}
{{#if card.listTitle}}
<div class="HitchhikerProfessionalCard-listTitle">
  {{card.listTitle}}
</div>
{{/if}}
{{#if card.listItems}}
<ul class="HitchhikerProfessionalCard-list">
  {{#each card.listItems}}
  <li class="HitchhikerProfessionalCard-listItem">{{this}}</li>
  {{/each}}
</ul>
{{/if}}
{{/inline}}

{{#*inline 'phone'}}
{{#if card.phone}}
<div class="HitchhikerProfessionalCard-phone--desktop">
  {{card.phone}}
</div>
<a class="HitchhikerProfessionalCard-phone--mobile" href="tel:{{card.phone}}"
  data-eventtype="{{#if card.phoneEventType}}{{card.phoneEventType}}{{else}}TAP_TO_CALL{{/if}}"
  data-eventoptions="{{json card.phoneEventOptions}}">
  {{card.phone}}
</a>
{{/if}}
{{/inline}}

{{#*inline 'ctas'}}
{{#if (any (all card.CTA1 card.CTA1.url) (all card.CTA2 card.CTA2.url))}}
<div class="HitchhikerProfessionalCard-ctasWrapper">
  {{> CTA card.CTA1 ctaName="primaryCTA"}}
  {{> CTA card.CTA2 ctaName="secondaryCTA"}}
</div>
{{/if}}
{{/inline}}

{{#*inline 'CTA'}}
{{#if (all url label)}}
<div class="HitchhikerProfessionalCard-{{ctaName}}">
  <a class="Hitchhiker-cta js-Hitchhiker-cta{{#if modifiers}} {{modifiers}}{{/if}}" href="{{url}}"
    data-eventtype="{{eventType}}" data-eventoptions='{{json eventOptions}}'
    target="{{#if target}}{{target}}{{else}}_top{{/if}}">
    {{#if (any iconName iconUrl)}}
    <div class="Hitchhiker-cta-iconWrapper">
      <div class="Hitchhiker-cta-icon" data-component="IconComponent" data-opts='{ 
        "iconUrl": "{{iconUrl}}",
        "iconName": "{{iconName}}"
      }'>
    </div>
    {{/if}}
    <div class='Hitchhiker-cta-iconLabel'>
      {{label}}
    </div>
  </a>
</div>
{{/if}}
{{/inline}}