<div class="HitchhikerStandardCard {{cardName}}">
  <div class="HitchhikerStandardCard-wrapper">
    {{#if card.image}}
    <div class="HitchhikerStandardCard-imgWrapper">
      <img src="{{card.image}}" />
      {{#if card.tagLabel}}
      <div class="HitchhikerStandardCard-imgTagWrapper">
        <div class="HitchhikerStandardCard-imgTag">{{card.tagLabel}}</div>
      </div>
      {{/if}}
    </div>
    {{/if}}
    <div class="HitchhikerStandardCard-contentWrapper">
      <div class="HitchhikerStandardCard-info">
        {{#if card.title}}
        <div class="HitchhikerStandardCard-title">
          {{#if card.titleUrl}}
            <a href="{{card.titleUrl}}"
              data-eventtype="TITLE_CLICK"
              data-eventoptions='{{json card.titleEventOptions}}'
              target={{#if card.target}}"{{card.target}}"{{else}}"_blank" rel="noopener noreferrer nofollow"{{/if}}>
              {{card.title}}
            </a>
          {{else}}
            {{card.title}}
          {{/if}}
        </div>
        {{/if}}
        {{#if card.subtitle}}
        <div class="HitchhikerStandardCard-subtitle">
          {{card.subtitle}}
        </div>
        {{/if}}
        {{#if card.details}}
        <div class="HitchhikerStandardCard-content">
          <div class="HitchhikerStandardCard-cardDetails">
            <div class="HitchhikerStandardCard-detailsText">
              {{card.details}}
            </div>
          </div>
        </div>
        {{/if}}
      </div>
      {{#if card.callsToAction}}
      <div class="HitchhikerStandardCard-ctasWrapper">
        {{#each card.callsToAction}}
          {{> CTA }}
        {{/each}}
      </div>
      {{/if}}
    </div>
  </div>
</div>

{{#*inline 'CTA'}}
<a class="Hitchhiker-cta js-Hitchhiker-cta{{#if modifiers}} {{modifiers}}{{/if}}"
   href="{{url}}"
   data-eventtype="{{eventType}}"
   data-eventoptions='{{json eventOptions}}'
   target={{#if target}}"{{target}}"{{else}}"_self"{{/if}}>
  {{#if iconName}}
  <div class="Hitchhiker-cta-iconWrapper">
    <div class="Hitchhiker-cta-icon"
         data-component="IconComponent"
         data-opts='{ "iconName": "{{iconName}}"{{#if iconUrl}}, "iconUrl": "{{iconUrl}}"{{/if}} }'>
    </div>
  </div>
  {{/if}}
  <div class='Hitchhiker-cta-iconLabel'>
    {{label}}
  </div>
</a>
{{/inline}}