<div class="yxt-StandardCard yxt-{{cardName}}">
  <div class="yxt-StandardCard-wrapper">
    {{#if card.image}}
    <div class="yxt-StandardCard-imgWrapper">
      <img src="{{card.image}}" />
      {{#if card.tagLabel}}
      <div class="yxt-StandardCard-imgTagWrapper">
        <div class="yxt-StandardCard-imgTag">{{card.tagLabel}}</div>
      </div>
      {{/if}}
    </div>
    {{/if}}
    <div class="yxt-StandardCard-contentWrapper">
      <div class="yxt-StandardCard-info">
        {{#if card.title}}
        <div class="yxt-StandardCard-title">
          <a href="{{card.titleUrl}}" target={{#if card.newWindow}}"_blank" rel="noopener noreferrer nofollow"
            {{else}}"_self"{{/if}}>
            {{card.title}}
          </a>
        </div>
        {{/if}}
        {{#if card.subtitle}}
        <div class="yxt-StandardCard-subtitle">
          {{card.subtitle}}
        </div>
        {{/if}}
        {{#if card.details}}
        <div class="yxt-StandardCard-content">
          <div class="yxt-StandardCard-cardDetails">
            <div class="yxt-StandardCard-detailsText">
              {{card.details}}
            </div>
          </div>
        </div>
        {{/if}}
      </div>
      {{#if card.callsToAction}}
      <div class="yxt-StandardCard-ctasWrapper">
        {{#each card.callsToAction}}
          {{> CTA }}
        {{/each}}
      </div>
      {{/if}}
    </div>
  </div>
</div>

{{#*inline 'CTA'}}
<a class="yxt-CTA js-yxt-CTA{{#if modifiers}} {{modifiers}}{{/if}}"
   href="{{url}}"
   target={{#if target}}"{{target}}"{{else}}"_self"{{/if}}>
  {{#if iconName}}
  <div class="yxt-CTA-iconWrapper">
    <div class="yxt-CTA-icon"
         data-component="IconComponent"
         data-opts='{ "iconName": "{{iconName}}" }'>
    </div>
  </div>
  {{/if}}
  <div class='yxt-CTA-iconLabel'>
    {{label}}
  </div>
</a>
{{/inline}}