<div class="{{cardType}}-feedbackWrapper">
  <div class="{{cardType}}-feedback">
    {{#if feedbackSubmitted}}
      <div class="{{cardType}}-feedbackText">
        {{feedbackTextOnSubmission}}
      </div>
    {{else}}
      {{#if footerText}}
        <div class="{{cardType}}-feedbackText">
          {{footerText}}
        </div>
      {{/if}}
      <div class="{{cardType}}-thumbsWrapper">
        <form class="HitchhikerCard-thumbs js-HitchhikerCard-feedbackForm">
          <fieldset class="HitchhikerCard-fieldset">
            <label class="HitchhikerCard-thumb">
              <span class="HitchhikerCard-thumbUpIcon">
                {{> icons/builtInIcon iconName='thumb' }}
              </span>
              <input type="radio"
                name="feedback"
                value="true"
                class="HitchhikerCard-feedback HitchhikerCard-thumbUpButton js-HitchhikerCard-thumbInput">
              <span class="sr-only">
                {{positiveFeedbackSrText}}
              </span>
            </label>
            <label class="HitchhikerCard-thumb">
              <span class="HitchhikerCard-thumbDownIcon">
                {{> icons/builtInIcon iconName='thumb' }}
              </span>
              <input type="radio"
                name="feedback"
                value="false"
                class="HitchhikerCard-feedback HitchhikerCard-thumbDownButton js-HitchhikerCard-thumbInput">
              <span class="sr-only">
                {{negativeFeedbackSrText}}
              </span>
            </label>
          </fieldset>
          <button type="submit" class="sr-only sr-only-focusable">Send feedback</button>
        </form>
      </div>
    {{/if}}
  </div>
</div>
