<div class="HitchhikerLocationCard {{cardName}}">
  <div class="HitchhikerLocationCard-wrapper">
    {{#if card.image}}
    <div class="HitchhikerLocationCard-imgWrapper">
      <img src="{{card.image}}" />
      {{#if card.tagLabel}}
      <div class="HitchhikerLocationCard-imgTagWrapper">
        <div class="HitchhikerLocationCard-imgTag">{{card.tagLabel}}</div>
      </div>
      {{/if}}
    </div>
    {{/if}}
    <div class="HitchhikerLocationCard-contentWrapper">
      <div class="HitchhikerLocationCard-info">
        {{#if card.title}}
        <div class="HitchhikerLocationCard-title">
          {{#if card.titleUrl}}
            <a href="{{card.titleUrl}}"
              data-eventtype="TITLE_CLICK"
              data-eventoptions='{{json card.titleEventOptions}}'
              target={{#if card.target}}"{{card.target}}"{{else}}"_blank" rel="noopener noreferrer nofollow"{{/if}}>
              {{card.title}}
            </a>
          {{else}}
            {{card.title}}
          {{/if}}
        </div>
        {{/if}}
        {{#if card.subtitle}}
        <div class="HitchhikerLocationCard-subtitle">
          {{card.subtitle}}
        </div>
        {{/if}}
        <div class="HitchhikerLocationCard-content">
          <div class="HitchhikerLocationCard-cardDetails">
            <div class="HitchhikerLocationCard-detailsText">
              {{#if card.address}}
                <div class="HitchhikerLocationCard-address">
                  <div class="HitchhikerLocationCard-addressRow">
                    {{card.address.line1}}
                  </div>
                  {{#if card.address.line2}}
                    <div class="HitchhikerLocationCard-addressRow">
                      {{card.address.line2}}
                    </div>
                  {{/if}}
                  <div class="HitchhikerLocationCard-addressRow">
                    {{card.address.city}}, {{card.address.region}} {{card.address.postalCode}}
                  </div>
                </div>
              {{/if}}
              {{#if card.phone}}
                <div class="HitchhikerLocationCard-phone">
                  {{card.phone}}
                </div>
              {{/if}}
              {{#if card.details}}
                <div class="HitchhikerLocationCard-bio">
                  {{card.details}}
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      {{#if card.callsToAction}}
      <div class="HitchhikerLocationCard-ctasWrapper">
        {{#each card.callsToAction}}
          {{> CTA }}
        {{/each}}
      </div>
      {{/if}}
    </div>
  </div>
</div>

{{#*inline 'CTA'}}
<a class="Hitchhiker-cta js-Hitchhiker-cta{{#if modifiers}} {{modifiers}}{{/if}}"
   href="{{url}}"
   data-eventtype="{{eventType}}"
   data-eventoptions='{{json eventOptions}}'
   target={{#if target}}"{{target}}"{{else}}"_self"{{/if}}>
  {{#if iconName}}
  <div class="Hitchhiker-cta-iconWrapper">
    <div class="Hitchhiker-cta-icon"
         data-component="IconComponent"
         data-opts='{ "iconName": "{{iconName}}"{{#if iconUrl}}, "iconUrl": "{{iconUrl}}"{{/if}} }'>
    </div>
  </div>
  {{/if}}
  <div class='Hitchhiker-cta-iconLabel'>
    {{label}}
  </div>
</a>
{{/inline}}