{{#if isSearchComplete}}
  {{#if showNoResults}}
    {{> noResults}}
  {{/if}}
  {{#if resultsPresent}}
    <section class="HitchhikerResultsGridTwoColumns HitchhikerResultsGridTwoColumns--{{_config.modifier}} HitchhikerResultsGridTwoColumns--universal">
      {{> header}}
      {{> map}}
      {{> results}}
      {{> viewMore}}
    </section>
  {{/if}}
{{/if}}

{{#*inline "noResults"}}
  {{#if useLegacyNoResults}}
    {{> results/noresults}}
  {{/if}}
{{/inline}}


{{#*inline "header"}}
  <div class="HitchhikerResultsGridTwoColumns-title">
    {{#if iconIsBuiltIn}}
      <div data-component="IconComponent" data-opts='{ "iconName": "{{ _config.icon }}" }'></div>
    {{else}}
      <div data-component="IconComponent" data-opts='{ "iconUrl": "{{ _config.icon }}" }'></div>
    {{/if}}
    <div class="HitchhikerResultsGridTwoColumns-titleLabel">{{_config.title}}</div>
  </div>
  <div data-component="ResultsHeader"></div>
{{/inline}}

{{#*inline "results"}}
  <div class="HitchhikerResultsGridTwoColumns-items js-HitchhikerResultsGridTwoColumns-items">
    {{#each results}}
      <div class="HitchhikerResultsGridTwoColumns-Card HitchhikerResultsGridTwoColumns-Card--universal"
        data-component="Card"
        data-opts='{ "_index": {{@index}} }'>
      </div>
    {{/each}}
    {{#each placeholders}}
      <div class="HitchhikerResultsGridTwoColumns-Card-placeholder" aria-hidden="true"></div>
    {{/each}}
  </div>
{{/inline}}

{{#*inline "map"}}
  {{#if _config.includeMap}}
    <div class="HitchhikerResultsGridTwoColumns-map"
          data-component="Map"
          data-prop="map">
    </div>
  {{/if}}
{{/inline}}

{{#*inline "viewMore"}}
  {{#if _config.isUniversal}}
    <div class="HitchhikerResultsGridTwoColumns-viewMore">
      <a class="HitchhikerResultsGridTwoColumns-viewMoreLink" href="{{ verticalURL }}">
        <div class="HitchhikerResultsGridTwoColumns-viewMoreLabel">{{_config.viewMoreLabel}}</div>
        <div data-component="IconComponent" data-opts='{ "iconName": "chevron" }'></div>
      </a>
    </div>
  {{/if}}
{{/inline}}
