<div class="HitchhikerProfessionalLocation HitchhikerLocationCard {{cardName}}">
  {{> image }}
  <div class="HitchhikerProfessionalLocation-body">
    {{#if (any card.title card.distance)}}
    <div class="HitchhikerProfessionalLocation-topRow">
      {{> ordinal }}
      {{> title }}
      <div class="HitchhikerLocationCard-closeCardButtonWrapper">
        {{> closeCardButton }}
        {{> distance }}
      </div>
    </div>
    {{/if}}
    {{> subtitle }}
    <div class="HitchhikerProfessionalLocation-contentWrapper">
      <div class="HitchhikerProfessionalLocation-info HitchhikerLocationCard-info">
        {{> address }}
        {{> details }}
        {{> list }}
        {{> phone }}
      </div>
      {{> ctas }}
    </div>
  </div>
</div>

{{#*inline 'image'}}
{{#if card.image}}
<div class="HitchhikerProfessionalLocation-imgWrapper">
  <img class="HitchhikerProfessionalLocation-img" src="{{#unless (isNonRelativeUrl card.image)}}{{@root.relativePath}}/{{/unless}}{{card.image}}" alt="{{#if card.altText}}{{card.altText}}{{/if}}" />
</div>
{{/if}}
{{/inline}}

{{#*inline 'ordinal'}}
{{#if card.showOrdinal}}
<div class="HitchhikerProfessionalLocation-ordinal HitchhikerLocationCard-ordinal">
  {{result.ordinal}}
</div>
{{/if}}
{{/inline}}

{{#*inline 'title'}}
{{#if card.title}}
<div class="HitchhikerProfessionalLocation-title">
  {{#if card.url}}
  <a class="HitchhikerProfessionalLocation-titleLink js-HitchhikerProfessionalLocation-titleLink" href="{{#unless (isNonRelativeUrl card.url)}}{{@root.relativePath}}/{{/unless}}{{card.url}}"
    data-eventtype="TITLE_CLICK" data-eventoptions='{{json card.titleEventOptions}}'
    target={{#if card.target}}"{{card.target}}"{{else}}"_top" rel="noopener noreferrer nofollow" {{/if}}>
    {{card.title}}
  </a>
  {{else}}
  {{card.title}}
  {{/if}}
</div>
{{/if}}
{{/inline}}

{{#*inline 'distance'}}
{{#if card.distance}}
<div class="HitchhikerProfessionalLocation-distance">
  {{card.distance}}
</div>
{{/if}}
{{/inline}}

{{#*inline 'subtitle'}}
{{#if card.subtitle}}
<div class="HitchhikerProfessionalLocation-subtitle">
  {{card.subtitle}}
</div>
{{/if}}
{{/inline}}

{{#*inline 'address'}}
{{#if card.address}}
<div class="HitchhikerProfessionalLocation-address">
  {{{card.address}}}
</div>
{{/if}}
{{/inline}}

{{! Displays the details for the card. If showMoreDetails has been configured,
    this partial handles the show more toggle, show less toggle, truncated details,
    and full details. If showMoreDetails has not been configured, it will display the
    the regular card details.
}}
{{#*inline 'details'}}
{{#if card.details}}
<div class="HitchhikerProfessionalLocation-cardDetails">
  {{#if showExcessDetailsToggle}}
    <div class="HitchhikerProfessionalLocation-detailsText js-HitchhikerCard-detailsText">
      {{truncatedDetails}}
    </div>
  {{/if}}
  <div class="HitchhikerProfessionalLocation-detailsText js-HitchhikerCard-detailsText{{#if showExcessDetailsToggle}} js-hidden{{/if}}">
    {{card.details}}
  </div>
  {{#if showExcessDetailsToggle}}
  <button class="HitchhikerCard-detailsToggle js-HitchhikerCard-detailsToggle">
    {{card.showMoreDetails.showMoreText}}
    <span data-component="IconComponent"
      data-opts='{ "iconName": "chevron", "classNames": "Icon--sm Icon-collapseDown" }'></span>
  </button>
  <button class="HitchhikerCard-detailsToggle js-HitchhikerCard-detailsToggle js-hidden">
    {{card.showMoreDetails.showLessText}}
    <span data-component="IconComponent"
      data-opts='{ "iconName": "chevron", "classNames": "Icon--sm Icon-collapseUp" }'></span>
  </button>
  {{/if}}
</div>
{{/if}}
{{/inline}}


{{#*inline 'list'}}
{{#if (any card.listTitle card.listItems.length)}}
<div class="HitchhikerProfessionalLocation-listWrapper">
  {{#if card.listTitle}}
  <div class="HitchhikerProfessionalLocation-listTitle">
    {{card.listTitle}}
  </div>
  {{/if}}
  {{#if card.listItems}}
  <ul class="HitchhikerProfessionalLocation-list">
    {{#each card.listItems}}
    <li class="HitchhikerProfessionalLocation-listItem">{{this}}</li>
    {{/each}}
  </ul>
  {{/if}}
</div>
{{/if}}
{{/inline}}

{{#*inline 'phone'}}
{{#if card.phone}}
<div class="HitchhikerProfessionalLocation-phone">
  <div class="HitchhikerProfessionalLocation-phone--desktop">
    {{card.phone}}
  </div>
  <a class="HitchhikerProfessionalLocation-phone--mobile js-HitchhikerProfessionalLocation-phone--mobile"
    href="tel:{{card.phone}}"
    data-eventtype="TAP_TO_CALL"
    data-eventoptions='{{json card.phoneEventOptions}}'
    target={{#if card.target}}"{{card.target}}"{{else}}"_top"{{/if}}>
    {{card.phone}}
  </a>
</div>
{{/if}}
{{/inline}}

{{#*inline 'ctas'}}
{{#if (any (all card.CTA1 card.CTA1.url) (all card.CTA2 card.CTA2.url))}}
<div class="HitchhikerProfessionalLocation-ctasWrapper HitchhikerLocationCard-ctasWrapper">
  {{> CTA card.CTA1 ctaName="primaryCTA" }}
  {{> CTA card.CTA2 ctaName="secondaryCTA" }}
</div>
{{/if}}
{{/inline}}

{{#*inline 'CTA'}}
{{#if (all url label)}}
<div class="HitchhikerProfessionalLocation-{{ctaName}}">
  <a class="HitchhikerCTA js-HitchhikerCTA{{#if modifiers}} {{modifiers}}{{/if}}"
    href="{{#unless (isNonRelativeUrl url)}}{{@root.relativePath}}/{{/unless}}{{url}}"
    data-eventtype="{{eventType}}"
    data-eventoptions='{{json eventOptions}}'
    target="{{#if target}}{{target}}{{else}}_top{{/if}}"
    {{#if ariaLabel}}aria-label="{{ariaLabel}}"{{/if}}>
    {{#if (any iconName iconUrl)}}
    <div class="HitchhikerCTA-iconWrapper">
      <div class="HitchhikerCTA-icon" data-component="IconComponent" data-opts='{
        "iconUrl": "{{#if iconUrl}}{{#unless (isNonRelativeUrl iconUrl)}}{{@root.relativePath}}/{{/unless}}{{iconUrl}}{{/if}}",
        "iconName": "{{iconName}}"
      }'>
      </div>
    </div>
    {{/if}}
    <div class='HitchhikerCTA-iconLabel'>
      {{label}}
    </div>
  </a>
</div>
{{/if}}
{{/inline}}

{{#*inline 'closeCardButton'}}
<button class="HitchhikerProfessionalLocation-closeCardButton HitchhikerLocationCard-closeCardButton js-HitchhikerLocationCard-closeCardButton">
  <span class="HitchhikerLocationCard-closeCardButtonImageWrapper">
    {{ close-card-svg }}
  </span>
  <span class="sr-only">Close Card</span>
</button>
{{/inline}}