<div class="HitchhikerAccordionCard yxt-{{cardName}} js-HitchhikerAccordionCard{{#if isExpanded}} HitchhikerAccordionCard--expanded{{/if}}"
     id="{{id}}">
  <button class="HitchhikerAccordionCard-toggle js-HitchhikerAccordionCard-toggle"
    aria-expanded="{{#if isExpanded}}true{{else}}false{{/if}}"
    aria-controls="{{id}}"
    tabindex="0">
    <h3 class="HitchhikerAccordionCard-title">
      {{{card.title}}}
    </h3>
    <div class="HitchhikerAccordionCard-icon js-HitchhikerAccordionCard-icon{{#if isExpanded}} HitchhikerAccordionCard-icon--expanded{{/if}}"
      data-component="IconComponent"
      data-opts='{"iconName": "chevron"}'
      data-prop="icon">
    </div>
  </button>
  <div class="HitchhikerAccordionCard-content js-HitchhikerAccordionCard-content"
       aria-hidden="{{#if isExpanded}}false{{else}}true{{/if}}">
    {{#if card.subtitle}}
      <div class="HitchhikerAccordionCard-subtitle">
        {{{card.subtitle}}}
      </div>
    {{/if}}
    {{#if card.details}}
      <div class="HitchhikerAccordionCard-details">
        {{{card.details}}}
      </div>
      {{#if excessDetailsToggle}}
        <button class="HitchhikerCard-details-toggle HitchhikerAccordionCard-details-toggle js-HitchhikerCard-details-toggle">
        {{#if hideExcessDetails}}
          {{card.showMoreDetails.showMoreText}}
          <span data-component="IconComponent"
            data-opts='{ "iconName": "chevron", "classNames": "Icon--sm Icon-collapseDown" }'></span>
        {{else}} 
          {{card.showMoreDetails.showLessText}}
          <span data-component="IconComponent"
            data-opts='{ "iconName": "chevron", "classNames": "Icon--sm Icon-collapseUp" }'></span>
        {{/if}}
        </button>
      {{/if}}
    {{/if}}
    {{#if (any card.CTA1.url card.CTA2.url) }}
      <div class="HitchhikerAccordionCard-ctasWrapper">
        <div class="HitchhikerAccordionCard-ctas">
          {{#with card.CTA1}}
            {{> CTA }}
          {{/with}}
          {{#with card.CTA2}}
            {{> CTA }}
          {{/with}}
        </div>
      </div>
    {{/if}}
  </div>
</div>

{{#*inline 'CTA'}}
{{#if url}}
<a class="Hitchhiker-cta js-Hitchhiker-cta{{#if modifiers}} {{modifiers}}{{/if}}"
   href="{{url}}"
   data-eventtype="{{eventType}}"
   data-eventoptions='{{json eventOptions}}'
   target={{#if target}}"{{target}}"{{else}}"_top"{{/if}}>
  {{#if iconName}}
  <div class="Hitchhiker-cta-iconWrapper">
    <div class="Hitchhiker-cta-icon"
         data-component="IconComponent"
         data-opts='{ "iconName": "{{iconName}}"{{#if iconUrl}}, "iconUrl": "{{iconUrl}}"{{/if}} }'>
    </div>
  </div>
  {{/if}}
  <div class='Hitchhiker-cta-iconLabel'>
    {{label}}
  </div>
</a>
{{/if}}
{{/inline}}