<div class="HitchhikerAccordionCard yxt-{{cardName}} js-HitchhikerAccordionCard{{#if isExpanded}} HitchhikerAccordionCard--expanded{{/if}}"
     id="{{id}}">
  <button class="HitchhikerAccordionCard-toggle js-HitchhikerAccordionCard-toggle"
    aria-expanded="{{#if isExpanded}}true{{else}}false{{/if}}"
    aria-controls="{{id}}"
    tabindex="0">
    <h3 class="HitchhikerAccordionCard-title">
      {{{card.title}}}
    </h3>
    <div class="HitchhikerAccordionCard-icon js-HitchhikerAccordionCard-icon{{#if isExpanded}} HitchhikerAccordionCard-icon--expanded{{/if}}"
      data-component="IconComponent"
      data-opts='{"iconName": "chevron"}'
      data-prop="icon">
    </div>
  </button>
  <div class="HitchhikerAccordionCard-content js-HitchhikerAccordionCard-content"
       aria-hidden="{{#if isExpanded}}false{{else}}true{{/if}}">
    {{#if card.subtitle}}
      <div class="HitchhikerAccordionCard-subtitle">
        {{{card.subtitle}}}
      </div>
    {{/if}}
    {{#if card.details}}
      <div class="HitchhikerAccordionCard-details">
        {{{card.details}}}
      </div>
    {{/if}}
    {{#if card.callsToAction}}
      <div class="HitchhikerAccordionCard-ctasWrapper">
        <div class="HitchhikerAccordionCard-ctas">
          {{#each card.callsToAction}}
            {{> CTA }}
          {{/each}}
        </div>
      </div>
    {{/if}}
  </div>
</div>

{{#*inline 'CTA'}}
<a class="Hitchhiker-cta js-Hitchhiker-cta{{#if modifiers}} {{modifiers}}{{/if}}"
   href="{{url}}"
   data-eventtype="{{eventType}}"
   data-eventoptions='{{json eventOptions}}'
   target={{#if target}}"{{target}}"{{else}}"_self"{{/if}}>
  {{#if iconName}}
  <div class="Hitchhiker-cta-iconWrapper">
    <div class="Hitchhiker-cta-icon"
         data-component="IconComponent"
         data-opts='{ "iconName": "{{iconName}}"{{#if iconUrl}}, "iconUrl": "{{iconUrl}}"{{/if}} }'>
    </div>
  </div>
  {{/if}}
  <div class='Hitchhiker-cta-iconLabel'>
    {{label}}
  </div>
</a>
{{/inline}}